@using AspNetCoremMvcDepartman.Models

@model List<Departman>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!--Test layoutu kullanır.-->
<br />
<table class="table table-bordered">

    <tr>

        <th>ID</th>
        <th>Departman</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>

    </tr>

    
    @foreach (var x in Model)
    {
    <tr>

        <td>@x.ID</td>
        <td>@x.DepartmanAd</td>
        <td><a href="/Depart/DepartmanSil/@x.ID" class="btn btn-danger">Sil</a></td>
        <td><a href="/Depart/DepartmanGetir/@x.ID" class="btn btn-warning">Güncelle</a></td>
        <td><a href="#" class="btn btn-info">Detaylar</a></td>
    


    </tr>
    }
</table>

<a href="/Depart/YeniDepartman/" class="btn btn-success">Yeni Departmanı Ekle</a>


